@model CarsharingProject.Models.RentCarsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>RentCarsModel</h4>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vin)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vin)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumberCar)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumberCar)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsRentNow)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsRentNow)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsAvailableForUsers)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsAvailableForUsers)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PricePerKM)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PricePerKM)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PricePerMinute)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PricePerMinute)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>